.navBtn {
    position: relative;
    margin: 0.4rem 0.6rem;
    padding: 0.6rem 1.4rem;
    overflow: hidden;
    transition: 0.35s color ease-in-out, 0.35s border ease-in-out,
        0.35s background ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.navBtnText {
    z-index: 2;
}

.btnBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 250%;
    z-index: -1;
    transition: 0.35s transform ease-in-out, 0.35s background ease-in-out;
    transform: rotate(30deg) translate(-50%, 150%);
}

.navBtn:hover > .btnBackground {
    transform: rotate(30deg) translate(-20%, 0%);
}

.splashBtn.navBtn,
.contactBtn.navBtn {
    color: white;
    border: 1px solid white;
    background-color: transparent;
}
.splashBtn.navBtn:hover,
.contactBtn.navBtn:hover {
    color: black;
    border: 1px solid white;
}
.splashBtn.navBtn:hover > .btnBackground,
.contactBtn.navBtn:hover > .btnBackground {
    background-color: white;
}

.aboutBtn.navBtn {
    color: black;
    border: 1px solid black;
    background-color: transparent;
}
.aboutBtn.navBtn:hover {
    color: black;
    border: 1px solid black;
}
.aboutBtn.navBtn:hover > .btnBackground {
    background-color: white;
}

.projectsBtn.navBtn {
    color: black;
    border: 1px solid black;
    background-color: #fff;
}
.projectsBtn.navBtn:hover {
    color: black;
    border: 1px solid black;
}
.projectsBtn.navBtn:hover > .btnBackground {
    background-color: #eee;
}
