.contactSection {
	background-color: #f2f8fb;
}

.contactContainer {
	position: absolute;
	height: 20rem;
	width: 20rem;
	background-color: #efeeff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 100%;
	background-color: #fff;
}

.contactText {
	font-size: 1.3rem;
	margin: 0.35rem;
	text-align: center;
	color: #444;
}

.contactImage {
	height: 40rem;
	width: 70rem;
	background-image: url(https://images.unsplash.com/photo-1448838520990-b0f959a7da46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
	background-size: cover;
}

.contactText > a > .linkImg {
	display: none;
}
