@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

html {
	font-family: "Ropa Sans", sans-serif;
}

.section {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.navbar {
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 10;
}

@media only screen and (max-width: 1600px) {
	.projectContainer {
		flex-direction: column;
	}
	.projectSection {
		height: auto;
	}
	.aboutSection {
		height: auto;
		padding: 5rem 0;
	}
	.contactImage {
		min-width: 100%;
		min-height: 100%;
	}
}
