@media only screen and (max-width: 1600px) {
	.projectContainer {
		flex-direction: column;
	}
	.projectSection {
		height: auto;
	}
	.aboutSection {
		height: auto;
		padding: 5rem 0;
	}
	.contactImage {
		min-width: 100%;
		min-height: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	.projectSubHeading {
		width: 80%;
	}

	.projectSubContainer {
		border: none;
		background: none;
	}

	.projectImg {
		height: 10rem;
		margin: 0 auto;
	}

	.traintracksImg {
		width: 20rem;
		height: 20rem;
		transform: scale(1.4);
		clip-path: inset(2.5rem 4rem);
	}
}

@media only screen and (max-width: 720px) {
	.card:nth-child(n) {
		margin: 1rem;
	}
}

@media only screen and (max-width: 600px) {
	.hamburger {
		display: inline;
	}
	.navigation {
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		background-color: rgba(100, 100, 100, 0.8);
	}
	.navigation.open {
		height: 100%;
	}
	.navBtnContainer {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 15rem;
	}
	.navBtnContainer.open {
		display: flex;
		flex-direction: column;
	}
	.navBtnContainer.open > * {
		color: white;
		background: none;
		border: 1px solid white;
	}
	.btnBackground {
		height: 500%;
	}
	.splashTitle {
		margin: 5rem;
	}
}
