@media only screen and (max-width: 1600px) {
	.projectContainer {
		flex-direction: column;
	}
	.projectSection {
		height: auto;
	}
	.aboutSection {
		height: auto;
		padding: 5rem 0;
	}
	.contactImage {
		min-width: 100%;
		min-height: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	.projectSubContainer {
		border: none;
		background: none;
	}

	.projectImg {
		width: 100%;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 720px) {
	.card:nth-child(n) {
		margin: 1rem;
	}
}

@media only screen and (max-width: 600px) {
	.navbar {
		display: none;
	}
	.hamburger {
		display: block;
	}
}
