.splashTitle {
    color: white;
    font-size: 2.2rem;
}

.splashTitle *:nth-child(1) {
    display: block;
}
.splashTitle *:nth-child(2) {
    display: inline;
    padding-right: 0.5rem;
}
.splashTitle *:nth-child(3) {
    display: inline;
}

.splashBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.01, 1.01);
    background-position: 0% 5%;
    background-image: linear-gradient(
            to top,
            #fff,
            rgba(45, 13, 82, 0.5),
            #000 90%
        ),
        url("https://images.unsplash.com/photo-1590664095641-7fa05f689813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-color: rgba(45, 13, 82, 0.7);
    background-blend-mode: screen;
    filter: brightness(0.8) saturate(1.2);
}
